<main>
    <section class="login-section">
        <div class="logo-section">
            <img src="/png/PratiCorte-Logo-white.png" class="logo">
            <h2>{{ screenTitle }}</h2>
        </div>
        <div class="login-form">
            <ng-content></ng-content>
        </div>
        <div class="login-button-area">
            <span><a href="#">{{ forgotPasswordText }}</a></span>
            <button class="login-button" (click)="submit()">{{ loginButtonText }}</button>
        </div>

        <div class="register-button-area">
            <h3>{{ notClientYetText }}</h3>
            <button class="register-button">{{ registerButtonText }}</button>
        </div>
    </section>
    <section class="view-section">
        <img src="/svg/Barber cartoon.svg" class="barber-view">
    </section>
</main>