<main>
    <section class="first-section">
        <div class="logo-section">
            <img src="/png/PratiCorte-Logo-white.png" class="logo">
            <h2>{{ screenTitle }}</h2>
        </div>
        <div class="primary-form">
            <ng-content></ng-content>
        </div>
        <div class="primary-area">
            <span><a href="#">{{ primarySpanText }}</a></span>
            <button class="primary-button" (click)="submit()">{{ primaryButtonText }}</button>
        </div>

        <div class="secondary-area">
            <h3>{{ secondaryText }}</h3>
            <button class="secondary-button" (click)="navigate()">{{ secondaryButtonText }}</button>
        </div>
    </section>
    <section class="view-section">
        <img src="/svg/Barber cartoon.svg" class="barber-view">
    </section>
</main>