<app-default-login-layout 
    screenTitle="Gestão rápida e fácil da sua barbearia."
    loginButtonText="Fazer login"
    forgotPasswordText="Esqueceu sua senha?"
    registerButtonText="Crie sua conta!"
    notClientYetText="Ainda não é cliente?"
    (submit)="submit()"
    (navigate)="navigate()"
>
    <form [formGroup]="loginForm">
        <app-login-input 
            formControlName="email"
            inputName="email"
            label="Email" 
            type="email" 
            placeholder="exemplo@email.com">
        </app-login-input>
        <app-login-input
            formControlName="password"
            inputName="password"
            label="Senha" 
            type="password" 
            placeholder="*********">
        </app-login-input>
    </form>
</app-default-login-layout>
